@model LoginViewModel
@{ 
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<form method="post" asp-antiforgery="true"> @*post redirects to where we came from, query included since we defined the property ReturnUrl in our model*@
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" /> @*automatically makes checkbox becouse value is boolean*@
        <span asp-validation-for="RememberMe"></span>
    </div>
    <input type="submit" value="Login" />
</form>
