@model Restaurant

@{
    ViewData["Title"] = $"Edit {Model.Name}";
}


<div>
    <h1>Editing: @Model.Name</h1>

    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                @*@Html.LabelFor(m => m.Name) same as the below which is using tagHelper*@
                <label asp-for="Name"></label>
                @*@Html.EditorFor(m => m.Name)*@
                <input asp-for="Name" />
                @*@Html.ValidationMessageFor(m => m.Name)*@
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Cuisine"></label>
                @*@Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))*@
                <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
                <span asp-validation-for="Cuisine"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>