@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home"; // could be ViewBag.Title but this is somewhat more efficient
}

<h1>Welcome!</h1>

@foreach(var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)

}

<div>
    <a asp-action="Create">Create</a>
</div>

@*@section footer{
    <h3>@Model.CurrentMessage</h3>
}*@

