@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home"; // could be ViewBag.Title but this is somewhat more efficient
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>
                <a @*asp-controller="Home" NOT NEEDED since page rendered from HomeController*@ asp-action="Details" asp-route-id="@restaurant.Id">Detail</a>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
        </tr>
    }
</table>

<a asp-action="Create">Create</a>

@section footer{
    <h3>@Model.CurrentMessage</h3>
}

